.block-element{
    background-color: green;
    margin: 20px;
    padding: 15px;
}

.navigation li{
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
}


.navigation {
    background-color: peachpuff;
    padding: 20px;
}