*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
.parent{
    border: 2px black dotted;
    display: inline-block;
}

.box{
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#box-two{
    background-color: green;
    position: absolute;
    
    
}