
/* General reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* 💡 LAYOUT GENERAL */
 .container {
    display: flex;
    justify-content: flex-start;  
}

main {
    background-color: rgba(252, 250, 250, 0.904);
}

section {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(170, 55, 55);
}

/* TEXT HEADERS */

h2 {
    text-align: center;
    background-color: #f5f1f1;
}

/* HEADER AND PRINCIPAL NAVIGATION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-img {
    width: 100px;
    height: 30px;
}

.menu {
    display: inline-block;
    padding: 10px;
}

.menu .menu__list .menu_list_items {
    display: inline-block;
}

.menu_list_items {
    margin: 0 auto;
}

.menu_list_items a {
    color: white;
    background-color: #dc030d;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    padding: 8px 16px;
    border-radius: 5px;
}

.menu_list_items a:hover {
    color: #f0f0f0;
    background-color: #dc030eb7;
}

.menu_list_items a.active {
    color: white;
    background-color: #b30000;
}


/*  SIDEBAR */

.sidebar {
    width: 25%;
    padding: 10px;
    background-color: #f5f1f1;
    border-right: 2px solid #c50c0c;
}

.sidebar nav {
    display: none; /* Oculta el nav */
}


/*Produc articles  */

.products {
    background-color: white;
}

.products article {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f5f1f1;
}

/* IMAGES AND FIGURES */

.imag-side {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

figure {
   
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

#equipacion {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

.image-container {
    
    flex-grow: 1; /* Permite que el contenedor de la imagen (y el breadcrumb dentro) crezca para ocupar el espacio restante */
    display: flex; /* Para posicionar el breadcrumb dentro */
    flex-direction: column ; /* Para apilar el breadcrumb y las imágenes */
    height: 100%;
    width: 100%; 
  }

.breadcrumb{
    width: 100%; /* Hace que el breadcrumb ocupe todo el ancho */
    background-color: #f0f0f0; /* Fondo claro */
    padding: 10px 0; /* Espaciado arriba y abajo */
    height: 50px;
    
}
.breadcrumb ul{
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    padding: 0;
    
}

.breadcrumb li{
    margin: 0.5rem;
}

.breadcrumb li::after{
    content: "/";
    margin-left: 0.5rem;

}

.breadcrumb li:last-child::after{
    content: "";
    margin: 0;
}

.breadcrumb  ul li a{
    text-decoration: none;
    color: rgb(163, 9, 9);
} 

.breadcrumb ul li a:active{
    color: rgb(211, 187, 54);
}
.breadcrumb ul li a:hover{
    color: rgb(78, 53, 53);
} 


.image-grid { /* Selecciona el contenedor de imágenes interno */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Aquí aplicas el wrap para las imágenes */
  height: 60em;
  
}

.image-container > .image-grid .box {
  width: 40%;
  height: auto;
  margin: 5px; /* Añade un poco de margen entre las cajas */
  border: 2px solid #ccc; /* Añade un borde para distinguir las cajas */
}