body{
  background: #410f70;
  font-family: Arial, sans-serif;
  
}

p{

  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

.business-card{
  background: #220b4e;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  font-size: 16px;
  margin-left: auto; 
  margin-right: auto;
  border-radius: 15px;
  text-align: center;
  border: 5px solid white;
}

.social-media{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}


.profile-image{
  max-width: 100%;
  border-radius: 15px
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: underline;
  color: #0a81819d;
}