/*GOOGLE FONTS poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
 
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3f3;
}

.profile-card{
    max-width: 370px;
    width: 100%;
    background: #ffff;
    padding: 25px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #720a86;
    padding: 3px;

}



.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card, .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 400;
}