@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #E9A319;
    --primary-color-dark: #A86523;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section__subheader{
    margin-bottom: 5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}

.section__subheader::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(1rem, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--primary-color);
}
.section__header{
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.section__description{
    max-width: 600px;
    margin-bottom: 1rem;
    color: var(--text-light);
}
.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--primary-color-dark);
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}

.logo{
    max-width: 120px;
}
html, body{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}


.header{
    background-image: url(./assets/header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;

}

.nav__bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary-color);
}

.nav__menu__btn{
    font-size: 1.5rem;
    color:var(--white);
    cursor: pointer;
}

.nav__links{
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #FAD59A;
    transform: translateY(-100%);
    transition: .5s;
    z-index: -1;
}

.nav__links.open{
    transform: translateY(0);
}

.nav__links a {
    position : relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white);
    transition: 0.3s;
}

.nav__btn{
    display: none;
}

@media (width > 768px){
    nav{
        padding: 2rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav__bar{
        background-color: transparent;
        padding: 0;
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        padding: 0;
        width: unset;
        position:static;
        transform: none;
        flex-direction: row;
        background-color: transparent;
    }

    .nav__btn{
        display: block;
    }

    .nav__links a::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: 0.3s;
        transform-origin: right;
        transform: scaleX(0);
    }

    .nav__links a:hover::after{
       transform: scaleX(1);
       width: 100%;
    }
}

https://www.youtube.com/watch?v=Z4FpqCDaxrA&ab_channel=WebDesignMastery
minuto 20