* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
 


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
    padding: 0;
  }

  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: #333;
    
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-links li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
}
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
    height: 100vh;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {

    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  


  @media (max-width: 768px) {
    .navigation {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      padding-left: 0;
    }
  
    .nav-links li {
      width: 100%;
    }
  
    .nav-links a {
      display: block;
      width: 100%;
    }
  }