*{
    box-sizing: border-box;  /* This says to the navigator that includes the padding and border within of width and height*/
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    background-color: rgb(99, 7, 102);
    width: 100vw;
    height: 100vh;
    
}

section{
    width: 80%;
    min-width: 320px;
    max-width: 540px;
    min-height: 500px;
    background-color: red;
    margin: 0 auto;
}