*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: left;
    margin: 20px;
}

.my-menu li{
    background-color: blue;
    list-style-type: none;
    margin: 15px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    
}

.my-menu a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 4px;
}

a:focus{
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
    background-color: darkblue;
}   