*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
     /*This 62.5% of 16px is = 10px */ 
    /* With this property we changed the font-size and now a 1.6 rem is 16px */
}
p{
    font-size: 1rem;
    /* This takes the root element html and takes the font size 16px by default 1rem = 16px if html is not modified*/
}