*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body {
    height: 100%; /* Asegura que el cuerpo y html ocupen todo el viewport */
    margin: 0; /* Elimina márgenes por defecto */
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: #333;
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-links li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.search-bar{
    flex: 1;
    border: none;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.sidebar{
    width: 25%;
    background-color: #ffff;
    padding: 1rem;
}
.sidebar-menu{
    list-style: none;
    background-color: rgba(226, 214, 214, 0.418);
    border-radius: 7px;
    padding: 2rem;
    height: fit-content;
}

.sidebar-menu > .submenu-product{
    padding: 0.5rem;
    color: rgb(15, 15, 15);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.container{
    display: flex;
   
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    min-height: 100vh; /* Asegura que la altura mínima sea 100% del viewport */
}

.section-title{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.main-content {
    flex: 1; /* Toma el espacio restante */
    padding: 2rem; /* Agrega espacio interior */
    box-sizing: border-box; /* El padding no afectará las dimensiones totales */
    overflow: auto; /* Si el contenido es más grande, agrega scroll */
    height: 100%;
    
}

.section-grid{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px; /* 4 cards per row with gap */
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    height: 300px;
}
.product-card img{
    align-items: stretch;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    
}

.btn-comprar{
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    
}
.btn-comprar:hover {
    background-color: #219150;
  }
.footer-content{
    display: flex;
    background-color: #333;
    justify-content: space-between;
}

.footer-content > p{
    color: white;
    padding: 2rem 5%;
    font-size: 1.5rem;
}
.social-media{
    
    display: flex;
    gap: 2rem;
    padding: 2rem 5%;
}

.social-media > li{
    list-style-type: none;
}