a:link{
    color: red;
    text-decoration: none;
}
a:visited{
    color: rgb(16, 80, 16);
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: red;
    text-decoration: underline;
}



a:focus{
    color: blue;
    text-decoration:underline;
}

a:active{
    color: orange;
    text-decoration: underline;
}
