.main-nav{
    margin-top: 10px;
    /* Remove bullets */
    list-style: none;
    /* It is an internal dimension */
    /* Internal space in a box */
    padding: 0;
    background-color: #13a4a4;
}

.main-nav__item{
    /* Los transforma en forma horizonal */
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    /* background-color: red; */
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}
.main-nav__item a:active{
    color: red;
}

.main-nav__item a::after{
    content: " | ";
}