*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --my-color: rgb(2, 2, 0);
    --my-width: 100vw;
}
p{
    --my-color: rgb(230, 226, 226);
    color: var(--my-color);
}   

html{
    font-size: 62.5%;
}

body{
    color: var(--my-color);
}
header{
    width: var(--my-width);
    height: 15vh;
    background-color: #003476;
}

main{
    width: var(--my-width);
    height: 70vh;
    font-size: 1.8rem;
}

footer{
    background-color: #333;
    width: var(--my-width);
    padding: 2rem;
    min-height: 80px;
    text-align: center;
}