.no-bullet {
    list-style-type: none;
}

.with-article {
    list-style-type: circle;
}

.square {
    list-style-type: square;
}

.roman {
    list-style-type: lower-roman;
}

.greek {
    list-style-type: lower-greek;
}
