*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    border: 2px dotted black;
    display: inline-block;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.childs{
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
}




#title{
    background-color: rgb(141, 27, 27);
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 2;
}
    
#content{
    z-index: 1;
    width: 300px;
    left: 30px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top:30%;
    left: 25%;
}